nav img{
    width: 70px;
}
nav {
    background-color: skyblue;
    padding: 15px;
}

ul{
    float: right;
    list-style: none;
}
 ul li{
    display: inline-block;
    padding: 7px;
}

ul a{
    color:antiquewhite ;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
}